---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Carolina Delwing Rosa" description="About Carolina">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Curious about my background? Check it out!"
			>
				<img
					width="1553"
					height="873"
					src="/assets/joyston-judah.jpg"
					alt="Landscape with mountains"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Experience</h2>
				<div class="content">
					<p><b><font size="5">Research and Development Engineer</font></b></p>
					<p>Physical Metallurgy Laboratory - Federal University of Rio Grande do Sul, Brazil - 2022-2023</p>
					<br>
					<p><b><font size="5">Technical Analyst</font></b></p>
					<p>Physical Metallurgy Laboratory - Federal University of Rio Grande do Sul, Brazil - 2020-2022</p>
					<br>
					<p><b><font size="5">Manufacturing Engineering Intern</font></b></p>
					<p>STIHL Ferramentas Motorizadas LTDA, Brazil - 2018-2020</p>
					<br>
					<p><b><font size="5">Operations Engineering Intern – Aviation</font></b></p>
					<p>Raízen SA, Brazil - 2018</p>
					<br>
					<p><b><font size="5">Undergraduate Scientific Researcher</font></b></p>
					<p>Corrosion, Protection, and Material Recycling Laboratory - Federal University of Rio Grande do Sul, Brazil - 2016-2017</p>
									
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p><b><font size="5">Applied DevOps Engineering</font></b></p>
					<p>WeCloudData, Toronto, Canada - 2023</p>
					<br>
					<p><b><font size="5">Master of Science in Engineering</font></b></p>
					<p>Federal University of Rio Grande do Sul, Brazil - 2020-2023</p>
					<br>
					<p><b><font size="5">Bachelor in Engineering</font></b></p>
					<p>Federal University of Rio Grande do Sul, Brazil - 2014-2019</p>
				</div>
			</section>		

						
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
				<style>
					ul {
						columns: 2;
						-webkit_columns: 2;
						-moz-columns: 2;
					}
					</style>
					<p>
					<ul>
					<li>AWS</li>
					<li>Python</li>
					<li>Bash</li>
					<li>Linux</li>
					<li>Command Line</li>
					<li>Git</li>
					<li>GitHub</li>
					<li>Docker</li>
					<li>Kubernetes</li>
					<li>MATLAB</li>
					<li>MS Office</li>
					<li>Agile</li>
					<li>Project Management</li>
					</ul>
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
